*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Kumbh Sans', sans-serif; 
font-style: normal;
}

body{
    background-color: #19A1AE;
    display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(./bg-pattern-top.svg), url(./bg-pattern-bottom.svg);
    height:100vh;
    background-repeat: no-repeat;
    background-position: right 55vw bottom 30vh, left 52vw top 44vh;

}

.container{
    width: 350px;
    height:374px;
    border-radius: 15px;
    background-color: white;
    box-shadow:0px 50px 100px -20px rgba(8,70,94,0.504835);
}

.backpicture{
    border-radius: 15px 15px 0px 0px; ;
}

.profile{
    width:90px;
    height: 90px;
    border: 5px solid white;
    border-radius: 50%;
    margin-left:  calc(50% - 96px/2);
    margin-top: -40px;
}

.name{
    line-height: 22px;
    color:#2E3349;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
    font-weight: 700;
}

.age{
    color:#6B7082;
    font-weight: 200px;
    padding-left: 5px;
    font-weight: 400;
}

.city{
    font-size: 14px;
    line-height: 17px;
    margin-top: 13px;
    margin-left: calc(50% - 49.34px/2);
    color:#6B7082;
}

.activity{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color:#2E3349;
    height:18px;
    font-weight: 700;
    border-top: 1px solid #E8E9EC;
    margin-top: 30px;
    padding-top: 30px;
}

.act{
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1.5px;
    color:#6B7082;
    display: block;
}
